{% extends "layout.njk" %}

{% block content %}
<div class="card">
    <section class="image" style="background: url({{teacher.avatar_url}}) no-repeat center center / cover">

    </section>
    <section class="details">
        <form class="teacher-edit" method="POST" action="/teachers?_method=PUT">
            
            <h3>Editar professor</h3>
            
            {% include 'teachers/fields.njk' %}
            <input type="hidden" name="id" value="{{teacher.id}}">
            
        </form>
        <form id="form-delete" method="POST" action="/teachers?_method=DELETE">
            <input type="hidden" name="id" value="{{teacher.id}}">
            <button type="submit">Deletar</button>
        </form>
    </section>
</div>
{% include 'confirmation.njk'%}


{% endblock content %}
